/*
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}
body
{
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body.lock {
    overflow: hidden;
}
.image-info
{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #a09c9f;
    margin: 50px;
    border-radius: 30px;
    box-shadow: 0 5px 0 #161b13;
    color: white;
    font-weight: 700;
    text-align: left;
}
.lefts
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.fileDownload
{
    display: inline-block;
    padding: 6px 12px;
    margin: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 5px 0 #161b13;
    transition: background-color 0.5s ease 0s;
    user-select: none;
    background-color: #7a956b;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 4px
}
.fileDownload:hover {
    background-color: #4f6146;
    text-decoration: none;
    color: #161b13;
}


#imageDiv {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 1000;
}


#popupImage {
    max-width: 300px;
    max-height: 300px;
}

#msg
{
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
    color: white;
}

.custom-file-input{
    color: transparent;
}

.custom-file-input::file-selector-button {
    border: 2px solid #161b13;
    background-color: #7a956b;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin: 10px;
    transition: background-color 0.5s ease 0s;
}

.custom-file-input::file-selector-button:hover {
    background-color: #4f6146;
    cursor: pointer;
    border: 2px solid #ff8700;
}

.submitButton
{
    border: 2px solid #161b13;
    background-color: #7a956b;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    color:white;
    margin: 10px;
}

.form_label
{
    font-size: 18px;
    color: white;
    display: block;
    margin: 0px 0px 10px 0px;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left:0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}
.popup.open{
    opacity: 1;
    visibility: visible;
}
.popup.open .popup__content{
    transform: translate(0px,0px);
    opacity: 1;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content{
    min-width: 33%;
    min-height: 33%;
    position: relative;
    background-color: #333333;
    border-radius: 20px;
    color:black;
    padding: 30px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup_close{
    position: absolute;
    right: 10px;
    top:10px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    background-color: #7a956b;
    padding:10px 13px;
    border-radius: 20px;
    border: 2px solid #161b13;
    transition: background-color 0.5s ease 0s;
}
.popup_close:hover
{
    background-color: #4f6146;
}
.popup_close:active
{
    box-shadow: 0 2px 0 #161b13;
}
.popup__area
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}




register
.form_body
{
    position: relative;
}

.form
{
    max-width: 550px;
    margin: 0px auto;
    color: #ffffff;
    padding: 30px 0;

}
.form * {
    outline: none;
}
.form_item
{
    margin: 0px 0px 20px 0px;
}
.form_label
{
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}
.form_input
{
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}
.form_label:focus{
    box-shadow: 0 0 15px #7a956b;
}
.form_submit
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #7a956b;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 #161b13;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top:0px;
    margin: 15px 0px 15px 0px;
}
.form_submit:hover
{
    background-color: #4f6146;
}
.form_submit:active
{
    top: 3px;
    box-shadow: 0 2px 0 #161b13;
}
.has-error
{
    font-size: 18px;
    color:red;
    text-shadow: 1px 0 20px red;

}

*/