<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Uploader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="css/func.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

    <div th:each="el: ${fileModels}" class="image-container">

        <div class="image-info">
            <div class="lefts">
                <span id="span" th:text="${el.fileName}"/>
                <span hidden="hidden" id="spanWithImagePath" th:text="'files-upload/'+ ${el.uri}+${el.fileName}"/>

                <div id="imageDiv">
                    <img id="popupImage" src="" alt="Popup Image">
                </div>

                <span th:text="${el.size}"/>
        </div>
            <form method="GET" action="/dl/" enctype="multipart/form-data">
                <a  th:href="'/dl/' + ${el.uri}" class="fileDownload">Download</a>
            </form>
        </div>

    </div>


<script src="js/test.js"></script>
</body>
</html>