<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File upload</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/upload.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<form method="POST" action="/upload" enctype="multipart/form-data">

    <!--Preview-->
    <div class="preview_wrapper">
        <img id="file-ip-1-preview">
    </div>
    <!--Choose file butt-->
    <div class="input__wrapper">
        <input class="input input__file" type="file" id="file" name="file" required onchange="showPreview(event);">
        <label for="file" class="input__file-button">
            <span class="input__file-icon-wrapper"><img class="input__file-icon" src="pics/icon.svg" alt="Выбрать файл" width="25"></span>
            <span class="input__file-button-text">Choose file</span>
        </label>
    </div>
    <!--Submit butt-->
    <div class="button__wrapper">
        <button class="button__wrapper-submitButton" type="submit">Upload file</button>
    </div>


</form>

<script src="js/func.js"></script>
</body>
</html>
