<div th:fragment="header" class="header lock-padding">
    <link rel="stylesheet" href="css/header.css">
    <div class="button-container">
        <h3 th:if="${user_name!=null}"><span th:text="${user_name}"></span></h3>
            <a class="link-button" href="/">Home</a>
            <a class="link-button popup-link" href="#upload">Upload file</a>
            <a class="link-button popup-link" href="#login">Login</a>
            <a class="link-button popup-link" href="#registration">Register</a>
        </div>
    <hr class="custom-line">
</div>